html{
  height: 100%;
  max-height: 100%; 
  float: left;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(255, 145, 0), rgb(255, 190, 0));
  background-size: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
